<html>
    <head>
        <title>Hlebs blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Идет медведь по лесу - видит машина горит. Сел в него и сгорел</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Купил мужчина шляпу, а она ему как раз.</p>
        </div>
    </body>